<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/ic_dialog_info"
        android:label="VI-Translate Advanced Engine"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".AdvancedTranslationService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.vitranslate.advancedengine.BIND_SERVICE" />
            </intent-filter>
        </service>

    </application>

</manifest>
